body{
    margin: 0;
}

.contacts{
    display: flex;
    background-image: url(images/contact.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    gap: 25px;
    font-size: 21px;
    height: 46vh;
    text-align: left;
    padding: 200px 300px 300px 250px;
    position: relative;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
}
#ankole_logo{
    left: 530px;
    bottom: 150px;
    position: relative;
    height: 200px;
}
a{
    text-decoration: none;
    color: white;
}

#kitisuru_contacts{
    border: 2px solid;
    height: 50vh;
    width: 25%;
    padding: 30px;

    

}
#kilimani_contacts{
    border: 2px solid;
    height: 55vh;
    width: 20%;
    padding: 30px;
   }
.reservation{
    display: flex;
}
nav{
    background-color: black;
    height: 40px;
    display: flex;
    gap: 20px;
    padding: 40px 0px 20px 50px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:50vh;
    width: 35%;
}
nav a{
    text-decoration: none;
    color: white;
    
}
#line_bars{
    color: white;
  }
  #clock{
    color:white;
  }


@media screen and (max-width: 760px){

.contacts{
    display: block;
    background-image: url(images/contact.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 17px;
    height: 120vh;
    text-align: left;
    padding: 100px 300px 300px 10px;
    position: relative;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
}
#ankole_logo{
    left: 70px;
    bottom: 20px;
    position: relative;
    height: 200px;
}

#kitisuru_contacts{
    border: 2px solid;
    height: 55vh;
    width: 45vh;
    padding: 0px 15px;
    

}
#kilimani_contacts{
    border: 2px solid;
    height: 60vh;
    width: 45vh;
    padding: 0px 15px;
    margin-top: 20px;
   }
.reservation{
    display: flex;
}
nav{
    background-color: black;
    height: 40px;
    display: table-column;
    gap: 20px;
    padding: 20px 0px 20px 20px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:3%;
    width: 90%;
    position: fixed;
}
nav a{
    text-decoration: none;
    color: white;
    
}
#whatsapp{
    color: white;
    font-size: 50px;
    position: absolute;
    bottom: 10vh;
    right: 80px;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
    background-color: black;
}


}
@media screen  and  (max-width: 1200px)  and (min-width: 761px){

.contacts{
    display: flex;
    background-image: url(images/contact.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 27px;
    height: 75vh;
    text-align: left;
    padding: 300px 80px 0px 0px;
    position: relative;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    margin-left: -200px;
}
#ankole_logo{
    left: 500px;
    bottom: 200px;
    position: relative;
    height: 200px;
}

#kitisuru_contacts{
    border: 2px solid;
    height: 50vh;
    width: 110%;
    padding: 0px 15px;
    

}
#kilimani_contacts{
    border: 2px solid;
    height: 55vh;
    width: 100%;
    padding: 0px 15px;
   }

nav{
    background-color: black;
    height: 40px;
    display: table-column;
    gap: 20px;
    padding: 20px 0px 20px 20px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:10%;
    width: 70%;
    position: fixed;
}
nav a{
    text-decoration: none;
    color: white;
    
}

}