body{
    /* overflow: hidden; */
    margin: 0;
}
.events{
    display: flex;
}
#event_p{
    color: orange;
}
#accra{
    background-image: url(images/accra.jpg);
    background-repeat: no-repeat;
    color: white;
    height: 71vh;
    width: 60vh;
    padding: 350px 0px 0px 50px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    text-align: center;
}
#zanzibar{
    background-image: url(images/Zanzibar.jpg);
    color: white;
    height: 90vh;
    width: 60vh;
    padding: 170px 0px 0px 50px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    text-align: center;


}
#decor{
    background-image: url(images/decor.jpg);
    color: white;
    height: 71vh;
    width: 65vh;
    padding: 350px 0px 0px 50px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    text-align: center;


}
#ankole_logo{
    height: 170px;
    
}
nav a{
    text-decoration: none;
    color: white;
    
    
}
nav{
    background-color: black;
    height: 40px;
    display: flex;
    gap: 20px;
    padding: 40px 0px 20px 50px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:50vh;
    width: 43%;

}
nav:hover{
    color: orange;
}
#reservationIcon{

    width: 15%;
    height: 3vh;
    padding: 10px;
    background-color: gray;
    border-radius: 40px;
}

#icons{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(163, 156, 156);
}
#whatsapp{
    color: white;
    font-size: 50px;
    position: absolute;
    bottom: 10vh;
    right: 80px;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
    background-color: black;
}
#line_bars{
  color: white;
}
#clock{
  color:white;
}






@media screen and (max-width: 760px){
   
    body{
        overflow-x: hidden;
    }
    .events{
        display: block;
    }
    #event_p{
        color: orange;
    }
    #accra{
        background-image: url(images/accra.jpg);
        background-repeat: no-repeat;
        color: white;
        height: 50vh;
        width: 100%;
        padding: 200px 0px 0px 10px;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
        text-align: center;
    }
    #zanzibar{
        background-image: url(images/Zanzibar.jpg);
        color: white;
        height: 80vh;
        width: 100%;
        padding: 100px 0px 0px 10px;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
        text-align: center;
    
    
    }
    #decor{
        background-image: url(images/decor.jpg);
        color: white;
        height: 90vh;
        width: 100%;
        padding: 100px 0px 0px 10px;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
        text-align: center;
    
    
    }
    nav{
        background-color: black;
        height: 40px;
        display: table-column;
        gap: 20px;
        padding: 10px 1px 60px 20px;
        border-radius: 40px;
        position: absolute;
        top: 80vh;
        left:2%;
        width: 90%;
        position: fixed;
    }
    #ankole_logo{
        height: 170px;
        position: absolute;
        bottom: 75vh;
        right: 120px;
        position: fixed;
    }
    nav{
        background-color: black;
        height: 40px;
        display: flex;
        gap: 60px;
        padding: 20px 0px 20px 30px;
        border-radius: 40px;
        position: absolute;
        top: 78vh;
        left:1vh;
        width: 90%;
        font-size: 20px;
        position: fixed;
    
    }
    #reservationIcon{
    
        width: 35%;
        height: 3vh;
        padding: 10px;
        background-color: gray;
        border-radius: 40px;
    }
    
    #icons{
        position: absolute;
        top: 20px;
        right: 30px;
        color: rgb(163, 156, 156);
    }
    #whatsapp{
        color: white;
        font-size: 30px;
        position: absolute; 
        bottom: 6vh;
        right: 10px;
        position: fixed;
    }
    #nav_item{
      display: none;
    }
    
}

@media screen  and  (max-width: 1200px)  and (min-width: 761px){
   
   body{
    overflow-x: hidden;
   }
    .events{
        display: block;
    }
    #event_p{
        color: orange;
    }
    #accra{
        background-image: url(images/accra.jpg);
        background-repeat: no-repeat;
        color: white;
        height: 70vh;
        width: 100%;
        padding: 100px 0px 0px 10px;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
        text-align: center;
    }
    #zanzibar{
        background-image: url(images/Zanzibar.jpg);
        color: white;
        height: 70vh;
        width: 100%;
        padding: 100px 0px 0px 10px;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
        text-align: center;
    
    
    }
    #decor{
        background-image: url(images/decor.jpg);
        color: white;
        height: 70vh;
        width: 100%;
        padding: 100px 0px 0px 10px;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
        text-align: center;
    
    
    }
    nav{
        background-color: black;
        height: 40px;
        display: flex;
        gap: 20px;
        padding: 20px 0px 20px 30px;
        border-radius: 40px;
        position: absolute;
        top: 85vh;
        left:1vh;
        width: 90%;
        font-size: 20px;
        position: fixed;
    
    }
    #reservationIcon{
    
        width: 20%;
        height: 3vh;
        padding: 10px;
        background-color: gray;
        border-radius: 40px;
    }

    #whatsapp{
        color: white;
        font-size: 60px;
        position: absolute; 
        bottom: 2vh;
        right: 10px;
        position: fixed;
    }
    
}


