
body{
    /* overflow-x: hidden; */
    margin: 0;
}
nav a{
    text-decoration: none;
    color: white;
    
}
nav{
    background-color: black;
    height: 40px;
    display: flex;
    gap: 20px;
    padding: 40px 0px 20px 15px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:60vh;
    width: 35%;
}

.menu_nav{
    width: 100%;
    right: 50vh;

}
.kitisuru{
    background-image: url(images/outsidegrill.jpg);
    height: 78vh;
    width: 50%;
    background-size: cover;
    color: white;
    padding-top: 200px;
    text-align: center;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
}
.locations{
    display: flex;
    width: 100%;
    height: 100%;
    
}
a{
    text-decoration: none;
    color: white;
}
.kilimani{
    background-image: url(images/ankolegrill.jpg) ;
    height: 78vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 200px;
    text-align: center;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;

}
.kitisuru_menu{
    display: flex;
}
.menu{
    background-image: url(images/kitisuru-menujpg);
    background-size: cover;
    width: 30%;
    color: white;
    padding: 200px 0px 100px 390px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
}
#menus{
    display: flex;
    gap: 40px;
    padding-left: 200px;
    text-decoration: none;
    
}
#breakfast_items{
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: rgb(216, 35, 35);

}
.food_items{
    display: flex;
    gap: 40px;

}
#word{
    color: red;
}

ul{
    text-decoration: none;
}
.menus{
    background-color: black;
    color: white;
    overflow: auto;
    height: 100vh;
    width: 50%;
    padding: 0px 60px;
}
.menu_nav{
    position: relative;

}
#locate{
    text-decoration: none;
    color: white;
    font-size: 80px;
}

#whatsapp{
    color: white;
    font-size: 50px;
    position: absolute;
    bottom: 10vh;
    right: 80px;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
    background-color: black;
}
#ankole_logo{
    height: 170px;
}

#reservationIcon{

    width: 15%;
    height: 3vh;
    padding: 10px;
    background-color: gray;
    border-radius: 40px;
}
#icons{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(163, 156, 156);
}
#ankole_logo_menu{
    height: 200px;
     position: absolute;
     left:45%;
     top:10%
}
#line_bars{
    color: white;
  }
  #clock{
    color:white;
  }

@media screen and (max-width: 760px){
       
    body{
        overflow-x: hidden;
    }
    nav{
        background-color: black;
        height: 40px;
        display: flex;
        gap: 20px;
        padding: 20px 0px 20px 30px;
        border-radius: 40px;
        position: absolute;
        top: 80vh;
        left:2vh;
        width: 70%;
        font-size: 20px;
        position: fixed;
    
    }
   
    
    .menu_nav{
        width:100%;
        right: 50vh;
    
    }
    .kitisuru{
        background-image: url(images/outsidegrill.jpg);
        height: 30vh;
        width: 50%;
        background-size: cover;
        color: white;
        padding-top: 250px;
        text-align: center;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
        font-size: 15px;
    }
    .locations{
        display: block;
        width: 200%;
        height: 20px;
        
    }
    .kilimani{
        background-image: url(images/ankolegrill.jpg) ;
        height: 40vh;
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding-top: 200px;
        text-align: center;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
    
    }
    .kitisuru_menu{
        display: block;
    }
    .menu{
        background-image: url(images/kitisuru-menujpg);
        background-size: cover;
        height: 20vh;
        width: 78%;
        color: white;
        padding: 200px 0px 120px 90px;
        background-color: rgba(0, 0,0,0.5);
        background-blend-mode: darken;
    }
    #menus{
        display: flex;
        gap: 40px;
        padding-left: 10px;
    }
    .food_items{
        display: flex;
        gap: 40px;
    }
    .menus{
        background-color: black;
        color: white;
        overflow: auto;
        height: 88vh;
        width: 93%;
        padding: 20px;
    }
    .menu_nav{
        position: relative;
        width: 90%;
    
    }
    #locate{
        text-decoration: none;
        color: white;
        font-size: 45px;
    }
    #whatsapp{
        color: white;
        font-size: 40px;
        position: absolute;
        bottom: 10vh;
        right: 20px;
        position: fixed;
    }
    #ankole_logo_menu{
        height: 200px;
         position: absolute;
         left:25%;
         top:5%
    }

    #nav_item{
        display: none;
      }
      #reservationIcon{

        width: 35%;
        height: 3vh;
        padding: 10px;
        background-color: gray;
        border-radius: 40px;
    }

}
@media screen  and  (max-width: 1200px)  and (min-width: 761px){
    body{
        overflow-x: hidden;
    } 
    nav{
        background-color: black;
        height: 40px;
        display: flex;
        gap: 30px;
        padding: 20px 10px 20px 20px;
        border-radius: 40px;
        position: absolute;
        top: 80vh;
        left:3%;
        width: 90%;
        position: fixed;
    }
 
 .menu_nav{
     width: 100%;
     right: 50vh;
 
 }
 .kitisuru{
     background-image: url(images/outsidegrill.jpg);
     height: 21vh;
     width: 50%;
     background-size: cover;
     color: white;
     padding-top: 400px;
     text-align: center;
     background-color: rgba(0, 0,0,0.5);
     background-blend-mode: darken;
 }
 .locations{
     display: block;
     width: 200%;
     height: 200px;
     
 }
 .kilimani{
     background-image: url(images/ankolegrill.jpg) ;
     height: 40vh;
     width: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;
     padding-top: 100px;
     text-align: center;
     background-color: rgba(0, 0,0,0.5);
     background-blend-mode: darken;
 
 }
 .kitisuru_menu{
     display: block;
 }
 .menu{
    background-image: url(images/kitisuru-menujpg);
    background-size: cover;
    width: 65%;
    color: white;
    padding: 200px 0px 100px 300px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
}
 #menus{
     display: flex;
     gap: 40px;
     padding-left: 10px;
 }
 .food_items{
     display: flex;
     gap: 40px;
 }
 .menus{
     background-color: black;
     color: white;
     overflow: auto;
     height: 88vh;
     width: 90%;
     padding: 50px;
 }
 .menu_nav{
     position: relative;
 
 }
 #locate{
     text-decoration: none;
     color: white;
 }
 #whatsapp{
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 8vh;
    right: 60px;
    position: fixed;
}
#ankole_logo_menu{
    height: 200px;
     position: absolute;
     left:35%;
     top:5%;
     position: fixed;
}
#icons{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(163, 156, 156);
    position: fixed;
}

}