
body{
    overflow: hidden;
    font-size: 25px;
    margin: 0;


}

.slide{
  background-position: center;
  opacity: 0;
  text-align: center;
  font-size: 65px;
  position: absolute;
  width: 100%;
  height: 91%;
  background-size: cover;
  animation: slideshow 15s infinite;
  color: gray;
  background-repeat: no-repeat;
  padding-top: 90px;

}
.slideshow{
    position:relative;
}
.slide:nth-child(1) {
    background-image: url(images/outsidegrill.jpg);
    animation-delay: 0s;
  }
  .slide:nth-child(2){
    background-image: url(images/ankolegrill.jpg);
    animation-delay: 4s;
  }
  .slide:nth-child(3){
    background-image: url(images/experience.jpg);
    animation-delay: 6s;
  }
  .slide:nth-child(4){
    background-image: url(images/taste.jpg);
    animation-delay: 10s;
  }
  .slide:nth-child(5){
    background-image: url(images/savour.jpg);
    animation-delay: 14s;
  }
  @keyframes slideshow {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity:0;}
  }
  /* .slide img{
    position: absolute;
    left: 40%; top: 20%;
  } */
  #logo{
    height: 230px;
  }

nav a{
    text-decoration: none;
    color: white;
    
    
}
nav{
    background-color: black;
    height: 40px;
    display: flex;
    gap: 20px;
    padding: 40px 0px 20px 50px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:50vh;
    width: 43%;

}
#reservationIcon{

    width: 15%;
    height: 3vh;
    padding: 10px;
    background-color: gray;
    border-radius: 40px;
}

#icons{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(163, 156, 156);
}


/* .events{
    display: flex;
}
#event_p{
    color: orange;
}
#accra{
    background-image: url(images/accra.jpg);
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 60vh;
    padding: 350px 0px 0px 50px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    text-align: center;
}
#zanzibar{
    background-image: url(images/Zanzibar.jpg);
    color: white;
    height: 100vh;
    width: 60vh;
    padding: 170px 0px 0px 50px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    text-align: center;


}
#decor{
    background-image: url(images/decor.jpg);
    color: white;
    height: 100vh;
    width: 60vh;
    padding: 350px 0px 0px 50px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    text-align: center;


} */
/* .contacts{
    display: flex;
    background-image: url(images/contact.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    gap: 25px;
    font-size: large;
    height: 40vh;
    text-align: center;
    padding: 250px 300px 300px 300px;
    position: relative;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
}
#ankole_logo{
    left: 560px;
    bottom: 120px;
    position: relative;
}

#kitisuru_contacts{
    border: 2px solid;
    height: 50vh;
    width: 35%;
    

}
#kilimani_contacts{
    border: 2px solid;
    height: 60vh;
    width: 35%;
   }
.reservation{
    display: flex;
} */
/* 
.reservation{
    display: flex;
}
#reservation{
    background-image: url(images/reservation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 62vh;
    color: white;
    width: 60%;
    text-align: center;
    padding-top: 350px;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;


}
.form{
    background-color: black;
    color: white;
    padding: 80px;
    width: 40%;
}
input{
    background-color: black;
    color: white;
}
#selector{
    background-color: black;
}
#name{
    height: 40px;
    width: 80%;
}
#location{
    height: 40px;
    width: 80%;
}
#telephone{
    height: 40px;
    width: 80%;
}
#email{
    height: 40px;
    width: 80%;
}
#date{
    height: 40px;
    width: 80%;
}
#time{
    height: 40px;
    width: 80%;
}
#submit_button{
    height: 40px;
    width: 80%;
}
#guest{
    height: 40px;
    width: 80%;
}
#ankole_logo{
    height: 170px;
} */
/* .reviews{
    text-align: center;
    padding-top: 7%;
    display: flex;
    gap: 50px;
    padding-left: 20%;
    background-color: black;
    height: 90vh;
    color: white;
    
}
#top_quote{
    padding-right: 80%;
    color: brown;
    
}
#bottom_quote{
    padding-left: 80%;
    color: brown;

}
#chevron{
    padding-top: 40vh;
    color: gray;
} */
.live{
    background-image: url(images/vibrant\ culture.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    gap: 70vh;
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    padding: 40px;

}
.fadhilee{
    background-image: url(images/live1.jpg);
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 200vh;
    color: white;
    padding: 60px;

}
#fadhilee{
    height: 250px;
    

}
.live_acoustic{
    margin-top: 39%;
    display: flex;
    font-size: 52px;
    gap: 50px;
    
}
.mushrooms{
    background-image: url(images/live2.jpg);
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 200vh;
    color: white;
    padding: 60px;


}
.jack{
    background-image: url(images/ankolelive.jpg);
    background-color: rgba(0, 0,0,0.5);
    background-blend-mode: darken;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 200vh;
    color: white;
    padding: 60px;

}
#acoustic{
    display: flex;
    margin: 25px;
    gap: 20px;
    text-align: left;
    font-size: 23px;
}

#date{
    color: rgb(204, 37, 37);
}
#whatsapp{
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 10vh;
    right: 80px;
}