
body{
    overflow: hidden;
    font-size: 25px;
    margin: 0;


}

.slide{
  background-position: center;
  opacity: 0;
  text-align: center;
  font-size: 65px;
  position: absolute;
  width: 100%;
  height: 91%;
  background-size: cover;
  animation: slideshow 15s infinite;
  color: gray;
  background-repeat: no-repeat;
  padding-top: 90px;

}
.slideshow{
    position:relative;
}
.slide:nth-child(1) {
    background-image: url(images/outsidegrill.jpg);
    animation-delay: 0s;
  }
  .slide:nth-child(2){
    background-image: url(images/ankolegrill.jpg);
    animation-delay: 4s;
  }
  .slide:nth-child(3){
    background-image: url(images/experience.jpg);
    animation-delay: 6s;
  }
  .slide:nth-child(4){
    background-image: url(images/taste.jpg);
    animation-delay: 10s;
  }
  .slide:nth-child(5){
    background-image: url(images/savour.jpg);
    animation-delay: 14s;
  }
  @keyframes slideshow {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity:0;}
  }
  /* .slide img{
    position: absolute;
    left: 40%; top: 20%;
  } */
  #logo{
    height: 230px;
  }

nav a{
    text-decoration: none;
    color: white;
    
    
}
nav{
    background-color: black;
    height: 40px;
    display: flex;
    gap: 20px;
    padding: 40px 0px 20px 50px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:50vh;
    width: 43%;

}
#reservationIcon{

    width: 15%;
    height: 3vh;
    padding: 10px;
    background-color: gray;
    border-radius: 40px;
}

#icons{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(163, 156, 156);
}
#whatsapp{
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 10vh;
    right: 80px;
}

@media screen  and  (max-width: 1200px)  and (min-width: 761px){

  body{
    overflow: hidden;
    font-size: 25px;
    margin: 0;


}

.slide{
  background-position: center;
  opacity: 0;
  text-align: center;
  font-size: 65px;
  position: absolute;
  width: 100%;
  height: 93%;
  background-size: cover;
  animation: slideshow 15s infinite;
  color: gray;
  background-repeat: no-repeat;
  padding-top: 90px;

}
.slideshow{
    position:relative;
}
.slide:nth-child(1) {
    background-image: url(images/outsidegrill.jpg);
    animation-delay: 0s;
  }
  .slide:nth-child(2){
    background-image: url(images/ankolegrill.jpg);
    animation-delay: 4s;
  }
  .slide:nth-child(3){
    background-image: url(images/experience.jpg);
    animation-delay: 6s;
  }
  .slide:nth-child(4){
    background-image: url(images/taste.jpg);
    animation-delay: 10s;
  }
  .slide:nth-child(5){
    background-image: url(images/savour.jpg);
    animation-delay: 14s;
  }
  @keyframes slideshow {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity:0;}
  }
   #logo{
    height: 230px;
  }

nav a{
    text-decoration: none;
    color: white;
    
    
}
nav{
    background-color: black;
    height: 40px;
    display: flex;
    gap: 10px;
    padding: 40px 0px 20px 50px;
    border-radius: 40px;
    position: absolute;
    top: 80vh;
    left:2vh;
    width: 85%;

}
#reservationIcon{

    width: 20%;
    height: 3vh;
    padding: 10px;
    background-color: gray;
    border-radius: 40px;
}

#icons{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(163, 156, 156);
}
#whatsapp{
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 6vh;
    right: 80px;
}

}
@media screen  and  (max-width: 760px){

  body{
    overflow: hidden;
    font-size: 25px;
    margin: 0;


}

.slide{
  background-position: center;
  opacity: 0;
  text-align: center;
  font-size: 30px;
  position: absolute;
  width: 100%;
  height: 86%;
  background-size: cover;
  animation: slideshow 15s infinite;
  color: gray;
  background-repeat: no-repeat;
  padding-top: 90px;

}
.slideshow{
    position:relative;
}
.slide:nth-child(1) {
    background-image: url(images/outsidegrill.jpg);
    animation-delay: 0s;
  }
  .slide:nth-child(2){
    background-image: url(images/ankolegrill.jpg);
    animation-delay: 4s;
  }
  .slide:nth-child(3){
    background-image: url(images/experience.jpg);
    animation-delay: 6s;
  }
  .slide:nth-child(4){
    background-image: url(images/taste.jpg);
    animation-delay: 10s;
  }
  .slide:nth-child(5){
    background-image: url(images/savour.jpg);
    animation-delay: 14s;
  }
  @keyframes slideshow {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity:0;}
  }
   #logo{
    height: 230px;
  }

nav a{
    text-decoration: none;
    color: white;
    
    
}
nav{
    background-color: black;
    height: 40px;
    display: table-column;
    gap: 10px;
    padding: 20px 0px 20px 10px;
    border-radius: 40px;
    position: absolute;
    top: 70vh;
    left:1vh;
    width: 93%;
    font-size: 20px;

}
#reservationIcon{

    width: 20%;
    height: 3vh;
    padding: 10px;
    background-color: gray;
    border-radius: 40px;
}

#icons{
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(163, 156, 156);
}
#whatsapp{
    color: white;
    font-size: 60px;
    position: absolute;
    bottom: 9vh;
    right: 10px;
}

}